body.toplevel_page_link-express-settings {
  background: #FFF !important;
}

.link-express-head {
  overflow: hidden;
  max-height: 300px;
  position: relative;
  padding: 25px;
  margin: 10px 2px 0 20px;
  border-radius: 16px;
  background: #2663bd;
  background: linear-gradient(270deg, #2b3030 6%, #2663bd 100%);
  border: 2px solid #2b3030;

  .div-txt-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .txt-white {
      color: #fff;
      font-size: 15px;
      letter-spacing: 2px;
      opacity: 0.8;
    }

    h1 {
      color: #fff;
      font-size: 22px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    h2.txt-hl-mini {
      font-size: 10px;
      letter-spacing: 5px !important;
      color: rgba(255, 255, 255, .3) !important;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 25px;
      bottom: 10px;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 25px;
    width: 150px;
    object-fit: cover;
    z-index: 1;
    filter: grayscale(1);
    opacity: 0.4;
    transform: translateY(-50%);
  }
}


p.submit {
  display: flex;
  flex-direction: row-reverse;
}
.link_express-tab-group {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  min-height: 500px;
  padding: 15px 0 15px 15px;
  background: rgb(38,99,189);
  background: linear-gradient(135deg, rgba(38,99,189,1) 6%, rgba(43,48,48,1) 100%);
  border: 2px solid #2b3030;

  ul.link_express-tab {
    flex-basis: 300px;
    margin: 0;
    padding: 20px 0;

    li {
      a {
        color: #afafaf;
        font-size: 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        position: relative;

        svg {
          width: 18px;
          height: 18px;
        }

        &.active {
          //background: rgba(0,0,0,0.2);
          color: #FFF;

          &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 7px;
            height: 7px;
            background-color: #0abaff;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .link_express-tab-content {
    width: 108%;
    background: #f0f8ff;
    padding: 0 20px;
    border-radius: 16px;

    form {
      display: flex;
      flex-direction: column;
      height: 100%;

      p.submit {
        margin-top: auto;
      }
    }

  }
}

.toplevel_page_link-express-settings div#wpfooter {
  display: none;
}

.link_express-tab-content {
  .description {
    float: right;
    width: 100%;
  }
}

.nice-select .nice-select-search {
  margin: 0;
}

.auth-button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  white-space: nowrap;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(270deg, #2b3030 46%, #2663bd 100%);
  &.logout {
    padding: 10px 30px;
    background: linear-gradient(75deg, #F44336 4%, #B71C1C 100%);
  }
  &.required-forms {
    padding: 10px 30px;
    &:hover {
      color: #FFF;
    }
  }
}