
.wc-wp-version-gte-53 .select2-container .select2-selection--multiple,
.wc-wp-version-gte-53 .select2-container .select2-selection--single {
  padding: 6px 5px;
  border-radius: 8px !important;
  border: 1px solid #e8e8e8 !important;
  height: auto;
}

.wc-wp-version-gte-53 .select2-container .select2-selection--single .select2-selection__arrow {
  left: 5px;
  height: 100%;
}

.wp-admin.wc-wp-version-gte-53 .select2-dropdown--below {
  border-width: 1px;
  border-top-width: 0;
  border-color: #e8e8e8;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}

.link_express-settings-wrap {
  .select2-container, input {
    min-width: 400px !important;
  }
}